// Colors
$blue:#0061DE;
$red:#DA3B22;
$orange:#FF7300;
$black: #000000;
$white: #ffffff;
$line: #00B900;

$primary: $orange;

$red-gd: linear-gradient(270.29deg, #DA3B22 1.95%, #941D0A 99.78%);
$blue-gd: linear-gradient(263.25deg, #0061DE 15.89%, #024BAA 87.14%);

$theme-colors: ("blue": $blue,
    "red": $red,
    "orange": $orange,
    "black": $black,
    "white": $white,
    "line": $line);

// Fonts
$font-family-base: 'Mitr',
sans-serif;
$enable-responsive-font-sizes: true;

// Links
$link-hover-decoration: none;