#allCarPage {
    .allcar-heading {
        position: relative;

        &-bg {
            position: absolute;
            top: .5rem;
            left: 0;
            right: 0;
            max-width: 100%;

            @include media-breakpoint-up(lg) {
                left: 7rem;
            }
        }

        &-brand {
            width: 100px;
            height: 100px;
            object-fit: contain;
            margin-right: 1rem;
        }

        &-text {
            margin-bottom: 0;
            font-weight: normal;
        }
    }
}