@import './home';
@import './intro';
@import './all-car';
@import './detail-car';
@import './branch-car';
@import './sale-page';

#question {
    position: relative;

    .question {
        &-bg {
            position: absolute;
            top: 2.5rem;
            left: 0;
            right: 0;
            margin: 0 auto;
        }

        &-body {
            padding: 4rem 0;
            max-width: 600px;
        }

        &-title {
            font-family: 'Russo One', sans-serif;
            @include font-size(60);
        }

        &-logo {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            height: 100%;
        }
    }
}