#salePage{
    .py-section{
        padding: 2.5rem 0;
    }
    .text-heading {
        text-align: center;
        margin-bottom: 1.5rem;
        font-weight: normal;

        span {
            position: relative;

            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: 0 auto;
                width: 80%;
                border-bottom: 1px solid $orange;
            }
        }
    }
    #promotionCar{
        .text-heading{
            position: relative;
            text-align: center;
            padding: 2.5rem 0;
            img{
                position: absolute;
                top: 50%;
                left: 50%;
                bottom: 0;
                transform: translate(-50%, -50%);
            }
            h2{
                @include font-size(60);
                font-weight: normal;
                margin-bottom: 0;
                color: $orange;
            }
        }
    }
}